@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h2>@ViewBag.grupo</h2>

    <p>IDGS904 DESARROLLO WEB INTEGRAL.</p>
</main>